<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log ind - Til Min Smukke Kone</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="body">
    <div class="div">
        <div class="div2">
            <div class="div3">
                <div class="div4">
                    <div class="p">
                        <div class="span">
                            <div class="velkommen-til-vores-k-rlighedsside">
                                Velkommen til vores kærlighedsside
                            </div>
                            <img class="image-258" src="/images/image-258.png" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="div5">
        <div class="sticky-header">
            <div class="header">
                <div class="nav">
                    <div class="ul">
                        <div class="li">
                            <a href="/" class="a">
                                <div class="span2">
                                    <div class="hjem">Hjem</div>
                                </div>
                            </a>
                        </div>
                        <div class="li2">
                            <div class="header-menu">
                                <div class="details">
                                    <div class="summary">
                                        <div class="span3">
                                            <div class="minder">Minder</div>
                                        </div>
                                        <svg class="svg" width="10" height="6" viewBox="0 0 10 6">
                                            <path d="M1 1L5 5L9 1" stroke="#7A1713" stroke-width="1.5" fill="none"/>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="li3">
                            <div class="header-menu2">
                                <div class="details2">
                                    <div class="summary2">
                                        <div class="span4">
                                            <div class="quiz">Quiz</div>
                                        </div>
                                        <svg class="svg2" width="10" height="6" viewBox="0 0 10 6">
                                            <path d="M1 1L5 5L9 1" stroke="#7A1713" stroke-width="1.5" fill="none"/>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="li4">
                            <div class="a2">
                                <div class="span5">
                                    <div class="kalendar">Kalendar</div>
                                </div>
                            </div>
                        </div>
                        <div class="li5">
                            <div class="header-menu3">
                                <div class="details3">
                                    <div class="summary3">
                                        <div class="span6">
                                            <div class="billeder-af-os">Billeder af os</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="til-dig">Til dig</div>
                        <div class="li6">
                            <div class="header-menu4">
                                <div class="details4">
                                    <div class="summary4">
                                        <div class="span7">
                                            <img class="image-259" src="/images/image-259.png" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <img class="image-262" src="/images/image-262.png" />
            </div>
        </div>
    </div>
    <div class="main">
        <div class="section">
            <div class="slideshow-component">
                <div class="div6">
                    <div class="div6">
                        <div class="div7">
                            <img class="img" src="/images/img0.png" />
                        </div>
                        <div class="div8">
                            <div class="div9">
                                <!-- Login form replaces content in this div -->
                                <form action="/login" method="post" class="login-form">
                                    <div class="h-2">
                                        <input type="text" name="username" placeholder="Brugernavn" class="login-field">
                                    </div>
                                    <div class="div10">
                                        <input type="password" name="password" placeholder="Adgangskode" class="login-field">
                                    </div>
                                    <div class="div11">
                                        <button type="submit" class="a3">
                                            <div class="log-ind">Log ind</div>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="div12">
            <div class="section2">
                <div class="div13">
                    <div class="div14">
                        <div class="div15">
                            <div class="ul2">
                                <div class="li7">
                                    <div class="span8"></div>
                                </div>
                                <div class="li8">
                                    <div class="span9">
                                        <div class="minder-fra-hele-vores-forhold">
                                            Minder fra hele vores forhold
                                        </div>
                                    </div>
                                </div>
                                <div class="velkommen-til-vores-k-rlighedsside2">
                                    Velkommen til vores kærlighedsside
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>